force-app/main/default/flows/Convert_ISO_Country.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Convert_Billing</name>
        <label>Convert Billing</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Metadata.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_Shipping</name>
        <label>Convert Shipping</label>
        <locationX>264</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Metadata.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Metadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Same_Billing</name>
        <label>Same Billing</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Same_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>For_Metadata.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Billing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Shipping</name>
        <label>Same Shipping</label>
        <locationX>396</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>For_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>For_Metadata.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Shipping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Convert Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert ISO Country</label>
    <loops>
        <name>For_Metadata</name>
        <label>For Metadata</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Country_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_Billing</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Country_Metadata</name>
        <label>Country Metadata</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Metadata</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country_Metadata</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
