force-app/main/default/flows/CreateProformaOrder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Enviar_Pedido_A3</name>
        <label>Enviar Pedido A3</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>InvocablePedidosA3</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IDOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocablePedidosA3</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Pedido_A3</name>
        <label>Enviar Pedido A3</label>
        <locationX>754</locationX>
        <locationY>1163</locationY>
        <actionName>InvocablePedidosA3</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopProformaBorrador</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IDOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocablePedidosA3</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Proforma_Borrador</name>
        <label>Proforma Borrador</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>LoopProformaBorrador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiene Proforma Borrador</defaultConnectorLabel>
        <rules>
            <name>No_tiene_Proforma_Borrador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOrder</targetReference>
            </connector>
            <label>No tiene Proforma Borrador</label>
        </rules>
    </decisions>
    <description>Creación del pedido desde la etapa de &apos;Pagada&apos; de la proforma</description>
    <environments>Default</environments>
    <formulas>
        <name>TomorrowDate</name>
        <dataType>Date</dataType>
        <expression>
	DATETIMEVALUE(TEXT(YEAR(TODAY()+1))&amp;&quot;-&quot;&amp;TEXT(MONTH(TODAY()+1))&amp;&quot;-&quot;&amp;TEXT(DAY(TODAY()+1))&amp;&quot; 21:59:00&quot;)</expression>
    </formulas>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CrearPedidoProforma</label>
    <loops>
        <name>LoopLineItemBorrador</name>
        <label>LoopLineItemBorrador</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <collectionReference>Copy_1_of_Get_Opportunity_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Create_Order_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enviar_Pedido_A3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOppLineItems</name>
        <label>LoopOppLineItems</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>GetOpportunityLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateOrderLines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Enviar_Pedido_A3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProformaBorrador</name>
        <label>LoopProformaBorrador</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <collectionReference>Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Create_Order</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creación de la cabecera del pedido con la información procedente de la oportunidad</description>
        <name>Copy_1_of_Create_Order</name>
        <label>Create Order</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>IDOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Get_Opportunity_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountCodeA3__c</field>
            <value>
                <elementReference>LoopProformaBorrador.A3CodeAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>LoopProformaBorrador.AccountId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>LoopProformaBorrador.Carrier__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDateTime__c</field>
            <value>
                <elementReference>$Record__Prior.OrderExpirationDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalAmount__c</field>
            <value>
                <elementReference>LoopProformaBorrador.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderDate__c</field>
            <value>
                <elementReference>$Record__Prior.OrderStartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod__c</field>
            <value>
                <elementReference>LoopProformaBorrador.PaymentMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proforma__c</field>
            <value>
                <elementReference>LoopProformaBorrador.ProformaId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale15__c</field>
            <value>
                <elementReference>LoopProformaBorrador.Sale15__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>LoopProformaBorrador.Store__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creación de las lineas de pedido con la información procedente de las lineas de oportunidad</description>
        <name>Copy_1_of_Create_Order_Lines</name>
        <label>Create Order Lines</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>LoopLineItemBorrador</targetReference>
        </connector>
        <inputAssignments>
            <field>BasePrice__c</field>
            <value>
                <elementReference>LoopLineItemBorrador.ListPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pedido__c</field>
            <value>
                <elementReference>IDOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductDescription__c</field>
            <value>
                <elementReference>LoopLineItemBorrador.Product2Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>LoopLineItemBorrador.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice__c</field>
            <value>
                <elementReference>LoopLineItemBorrador.UnitPrice__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creación de la cabecera del pedido con la información procedente de la oportunidad</description>
        <name>CreateOrder</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>IDOrder</assignRecordIdToReference>
        <connector>
            <targetReference>GetOpportunityLineItem</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountCodeA3__c</field>
            <value>
                <elementReference>$Record.A3CodeAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>$Record.Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDateTime__c</field>
            <value>
                <elementReference>$Record__Prior.OrderExpirationDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalAmount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderDate__c</field>
            <value>
                <elementReference>$Record__Prior.OrderStartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod__c</field>
            <value>
                <elementReference>$Record.PaymentMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proforma__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale15__c</field>
            <value>
                <elementReference>$Record.Sale15__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>$Record.Store__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creación de las lineas de pedido con la información procedente de las lineas de oportunidad</description>
        <name>CreateOrderLines</name>
        <label>Create Order Lines</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>LoopOppLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>BasePrice__c</field>
            <value>
                <elementReference>LoopOppLineItems.ListPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pedido__c</field>
            <value>
                <elementReference>IDOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductDescription__c</field>
            <value>
                <elementReference>LoopOppLineItems.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>LoopOppLineItems.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice__c</field>
            <value>
                <elementReference>LoopOppLineItems.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Traemos la información de las lineas de oportunidad</description>
        <name>Copy_1_of_Get_Opportunity_Line_Item</name>
        <label>Get Opportunity Line Item</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopLineItemBorrador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proforma_Borrador__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopProformaBorrador.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Line_Proforma__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get</name>
        <label>GetProforma_Borrador</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proforma_Borrador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProformaId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Proforma_Borrador__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Traemos la información de las lineas de oportunidad</description>
        <name>GetOpportunityLineItem</name>
        <label>Get Opportunity Line Item</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOppLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IDOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
