force-app/main/default/flows/Create_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Close</name>
        <label>Close</label>
        <locationX>534</locationX>
        <locationY>2090</locationY>
        <actionName>c:OpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Close2</name>
        <label>Close</label>
        <locationX>798</locationX>
        <locationY>2090</locationY>
        <actionName>c:OpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CloseEnd</name>
        <label>Close</label>
        <locationX>1062</locationX>
        <locationY>398</locationY>
        <actionName>c:OpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>OpenRecord</name>
        <label>Open Record</label>
        <locationX>204</locationX>
        <locationY>2426</locationY>
        <actionName>c:OpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>LeadToInsert.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddDirectionsToCreate</name>
        <label>Add Directions To Create</label>
        <locationX>292</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>ListDirectionsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverDirections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverDirections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToShippingList_1</name>
        <label>Add to Shipping List</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>ListShippingAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasMoreShippingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateShippingAddress_0</name>
        <label>Create Shipping Address</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ShippingAddress.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingStreet_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCity_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingNumber_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingProvince_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.ContactFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingContactName_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.ContactLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingContactLastName_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.TaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingFiscalType_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.ContactEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingEmail_1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingPostalCode_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingMobile_1.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToShippingList_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Shipping</name>
        <label>Reset Shipping</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ShippingAddress.CIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.ContactEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.ContactFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.ContactLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.ContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.TaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingAddress.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMoreShippingAddressScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLead</name>
        <label>Set Lead</label>
        <locationX>204</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LeadToInsert.CIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetAndNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToInsert.TaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SameShippingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadId</name>
        <label>Set Lead Id</label>
        <locationX>292</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>LoopOverDirections.Candidato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadToInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddDirectionsToCreate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>SÍ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Can_Create</name>
        <label>Can Create</label>
        <locationX>633</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>End_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.View_Custom_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLeadScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasMoreShippingAddress</name>
        <label>More Than One Shipping Address?</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>CreateLead0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MoreYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAddMore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Shipping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_duplicated</name>
        <label>Is duplicated</label>
        <locationX>666</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATES_DETECTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Duplicated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SameShippingAddress</name>
        <label>Same Shipping Address?</label>
        <locationX>204</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CreateLead0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NotSameShippingAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSameShipping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Shipping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create Lead from Global Quick Action</description>
    <dynamicChoiceSets>
        <name>BusinessPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShippingFiscalTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaxRate__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaxRatePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaxRate__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>StreetAndNumber</name>
        <dataType>String</dataType>
        <expression>{!Street}+&apos; &apos;+{!Number}</expression>
    </formulas>
    <interviewLabel>Create Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación del Lead</label>
    <loops>
        <name>LoopOverDirections</name>
        <label>Loop Over Directions</label>
        <locationX>204</locationX>
        <locationY>1850</locationY>
        <collectionReference>ListShippingAddress</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetLeadId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateDirections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDirections</name>
        <label>Create Directions</label>
        <locationX>204</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>OpenRecord</targetReference>
        </connector>
        <inputReference>ListDirectionsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateLead0</name>
        <label>CreateLead</label>
        <locationX>204</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>LoopOverDirections</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_duplicated</targetReference>
        </faultConnector>
        <inputReference>LeadToInsert</inputReference>
    </recordCreates>
    <screens>
        <name>AddMoreShippingAddressContact</name>
        <label>Add More Shipping Address Contact</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateShippingAddress_0</targetReference>
        </connector>
        <fields>
            <name>HeaderMoreShippingAddress03</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Información de contacto&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PathScreen4</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Cuenta,Facturacion,DireccionEnvio,CuentaEnvio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>CuentaEnvio</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddMoreShippingAddressContact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddMoreShippingAddressContact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingContactName_1</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre del contacto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Nombre del contacto es demasiado largo. (Max 255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!ShippingContactName_1})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ShippingContactLastName_1</name>
                    <dataType>String</dataType>
                    <fieldText>Apellidos del contacto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Apellidos del contacto es demasiado largo. (Max 255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!ShippingContactLastName_1})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddMoreShippingAddressContact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingEmail_1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email de contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ShippingMobile_1</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Teléfono de contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>IsAddMore</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceNo</defaultSelectedChoiceReference>
            <fieldText>¿Quiere añadir alguna dirección de envío más?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddMoreShippingAddressScreen</name>
        <label>Add More Shipping Address</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddMoreShippingAddressContact</targetReference>
        </connector>
        <fields>
            <name>HeaderMoreShippingAddress02</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Información de envío&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PathScreen3</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Cuenta,Facturacion,DireccionEnvio,CuentaEnvio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>DireccionEnvio</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShippingStreet_0</name>
            <dataType>String</dataType>
            <fieldText>Calle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Calle es demasiado largo. (Max 255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression> LEN( {!ShippingStreet_0})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AddMoreShippingAddressScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddMoreShippingAddressScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingNumber_0</name>
                    <dataType>String</dataType>
                    <fieldText>Número/Aclarador</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Número/Aclarador es demasiado largo. (Max 255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!ShippingNumber_0})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddMoreShippingAddressScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingPostalCode_0</name>
                    <dataType>String</dataType>
                    <fieldText>Código Postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Código Postal es demasiado largo. (Max 20)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!ShippingPostalCode_0})&lt;=20</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddMoreShippingAddressScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingCity_0</name>
                    <dataType>String</dataType>
                    <fieldText>Ciudad</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Ciudad es demasiado largo. (Max 255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!ShippingCity_0})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddMoreShippingAddressScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddMoreShippingAddressScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingProvince_0</name>
                    <dataType>String</dataType>
                    <fieldText>Provincia</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Provincia es demasiado largo. (Max 255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!ShippingProvince_0})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddMoreShippingAddressScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingFiscalType_0</name>
                    <choiceReferences>ShippingFiscalTypePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo Fiscal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateLeadScreen</name>
        <label>Create Lead 1</label>
        <locationX>204</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateLeadScreen_0</targetReference>
        </connector>
        <fields>
            <name>AccountHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;Información de la cuenta&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PathScreen1</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Cuenta,Facturacion,Dirección de Envío</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Cuenta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CreateLeadScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateLeadScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <fieldText>Compañía</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El campo Compañía es demasiado largo. (Max 255)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!Company})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Business</name>
                    <choiceReferences>BusinessPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Selecciona la empresa a la que va dirigido.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateLeadScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CIF</name>
                    <dataType>String</dataType>
                    <fieldText>CIF</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo CIF es demasiado largo. (Max 20)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!CIF})&lt;=20</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TaxRate</name>
                    <choiceReferences>TaxRatePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo Fiscal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContactHeader0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Datos de contacto&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateLeadScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateLeadScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_0</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Nombre es demasiado largo. (Max 40)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!Name_0})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>LastName_0</name>
                    <dataType>String</dataType>
                    <fieldText>Apellidos</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Apellidos es demasiado largo. (Max 80)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!LastName_0})&lt;=80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateLeadScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_0</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Correo electrónico</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>LeadToInsert.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Mobile_0</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Teléfono</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>LeadToInsert.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateLeadScreen_0</name>
        <label>Create Lead 2</label>
        <locationX>204</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetLead</targetReference>
        </connector>
        <fields>
            <name>ContactHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Información de facturación&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PathScreen2</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Cuenta,Facturacion,Dirección de Envío</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Facturacion</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Calle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Calle es demasiado largo. (Max 200)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression> LEN({!Street})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CreateLeadScreen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateLeadScreen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El campo Número es demasiado largo. (Max 50)&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!Number})&lt;=50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateLeadScreen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PostalCode</name>
                    <dataType>String</dataType>
                    <fieldText>Código Postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Código Postal es demasiado largo. (Max 20)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!PostalCode})&lt;=20</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateLeadScreen_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>Ciudad</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Ciudad es demasiado largo. (Max 40)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!City})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CreateLeadScreen_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateLeadScreen_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Province</name>
                    <dataType>String</dataType>
                    <fieldText>Provincia</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo Provincia es demasiado largo. (Max &lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; color: rgb(255, 0, 0);&quot;&gt;80&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!Province})&lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateLeadScreen_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>España</stringValue>
                    </defaultValue>
                    <fieldText>País</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El campo País es demasiado largo. (Max 80)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!Country})&lt;=80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>IsSameShipping</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ChoiceNo</elementReference>
            </defaultValue>
            <fieldText>¿Quiere añadir una dirección de envío?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Process</name>
        <label>End Process</label>
        <locationX>1062</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CloseEnd</targetReference>
        </connector>
        <fields>
            <name>NoAccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No tienes permisos de creación de candidatos.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>798</locationX>
        <locationY>1970</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close2</targetReference>
        </connector>
        <fields>
            <name>ErrorHeader2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;Se ha producido un error, prueba de nuevo y si el problema persiste póngase en contacto con su administrador. &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;( {!$Flow.FaultMessage})&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Duplicated</name>
        <label>Error Duplicated</label>
        <locationX>534</locationX>
        <locationY>1970</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close</targetReference>
        </connector>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextErrorDuplicated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Se ha detectado una coincidencia con un candidato existente. Compruebe que no existen abiertos candidatos similares.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Can_Create</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ListDirectionsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShippingAddress__c</objectType>
    </variables>
    <variables>
        <name>ListShippingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShippingAddress__c</objectType>
    </variables>
    <variables>
        <name>ShippingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShippingAddress__c</objectType>
    </variables>
</Flow>
