force-app/main/default/flows/Create_Proforma.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Close</name>
        <label>Close</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>c:OpenRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Fields_To_Search</name>
        <label>Add Fields To Search</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>LookupAccListFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LookupCarListFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proforma_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_Shipping</name>
        <label>Has Shipping</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OrderToCreate.OrderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCarrierIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedStore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedClient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Sale15__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentMethodPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ExpirationDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order</name>
        <label>Set Order</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>OrderToCreate.OrderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCarrierIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedStore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedClient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.Sale15__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentMethodPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.ExpirationDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retail_o_NO</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CONTADO</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;CONTADO&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C</stringValue>
        </value>
    </choices>
    <choices>
        <name>CREDITO_10</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;CREDITO 10 DIAS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>CREDITO_15</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;CREDITO 15 DIAS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15</stringValue>
        </value>
    </choices>
    <choices>
        <name>CREDITO_30</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;CREDITO 30 DIAS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30</stringValue>
        </value>
    </choices>
    <choices>
        <name>CREDITO_45</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;CREDITO 45 DIAS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>45</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operador</name>
        <choiceText>Operador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operador</stringValue>
        </value>
    </choices>
    <choices>
        <name>PREPAGO</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;PREPAGO&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retail</name>
        <choiceText>Retail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Can_Create</name>
        <label>Can Create</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Cant_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFirst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.View_Custom_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasRecordId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Has_Store</name>
        <label>Copia 1 de Has Store</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Proforma_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Products_Screen</targetReference>
            </connector>
            <label>Copia 1 de Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasRecordId</name>
        <label>HasRecordId</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Fields_To_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retail_o_NO</name>
        <label>Retail o NO</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Has_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_Pedido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Carrier_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PaymentMethodValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentMethod__c</picklistField>
        <picklistObject>Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectedTaxRate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaxRate__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Store__c</picklistField>
        <picklistObject>Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tipo_Pedido</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Order</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FormulaCarrierWhere</name>
        <dataType>String</dataType>
        <expression>IF(
	BEGINS({!SelectedStore}, &apos;CLH &apos;),
	&quot;CLHCode__c != null&quot;,
	CASE({!SelectedStore},
        &quot;DBA BILBAO PORT SL&quot;,
        &quot;BilbaoCode__c != null&quot;,
        &quot;DBA MOTRIL&quot;,
        &quot;MotrilCode__c != null&quot;,
        &quot;DBA OCAÑA&quot;,
        &quot;OcanaCode__c != null&quot;,
&quot;DBA TANCAR&quot;,        
 &quot;TancarCode__c != null&quot;,
        &quot;CarrierCode__c == &apos;Empty&apos;&quot;
    )
)
+ &quot; AND Business__c = &apos;Energía&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>SelectedCarrierIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedCarrier.Id}), {!SelectedClient.DefaultCarrier__r.Id}, {!SelectedCarrier.Id})</expression>
    </formulas>
    <formulas>
        <name>SelectedCarrierNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedCarrier.Id}), {!SelectedClient.DefaultCarrier__r.Name}, {!SelectedCarrier.Name})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!OrderToCreate.OrderDate__c}),NOW(),{!OrderToCreate.OrderDate__c})</expression>
    </formulas>
    <formulas>
        <name>TomorrowDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
	ISNULL({!OrderToCreate.ExpirationDateTime__c}),
	DATETIMEVALUE(TEXT(YEAR(TODAY()+1))&amp;&quot;-&quot;&amp;TEXT(MONTH(TODAY()+1))&amp;&quot;-&quot;&amp;TEXT(DAY(TODAY()+1))&amp;&quot; 21:59:00&quot;),
	{!OrderToCreate.ExpirationDateTime__c}
)</expression>
    </formulas>
    <interviewLabel>Create Proforma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Proforma</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Fields_To_Search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SelectedClient</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>DefaultStore__c</queriedFields>
        <queriedFields>DefaultCarrier__c</queriedFields>
        <queriedFields>Business__c</queriedFields>
        <queriedFields>TaxRate__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Cant_Access</name>
        <label>Cant Access</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close</targetReference>
        </connector>
        <fields>
            <name>CantCreateText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;No tienes permisos de creación de pedidos.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Carrier_Screen</name>
        <label>Carrier Screen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copia_1_de_Has_Store</targetReference>
        </connector>
        <fields>
            <name>Path2</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Path2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CarrierLookupCustom</name>
            <dataTypeMappings>
                <typeName>OBJECT</typeName>
                <typeValue>Carrier__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:selectCarrierAndFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>LookupCarDisplayFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>LookupCarIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelName</name>
                <value>
                    <elementReference>LookupCarLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>LookupAccPlaceholder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <elementReference>LookupCarListFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objName</name>
                <value>
                    <elementReference>LookupCarObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>where</name>
                <value>
                    <elementReference>LookupCarWhere</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueId</name>
                <value>
                    <elementReference>SelectedCarrierIdFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueName</name>
                <value>
                    <elementReference>SelectedCarrierNameFormula</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Products_Screen</name>
        <label>Products Screen</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Products_Screen_0</targetReference>
        </connector>
        <fields>
            <name>HeaderScreen3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Selección de Productos&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Path3</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step1,Step2,Step3,Step4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step3</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LWCSelectProducts</name>
            <extensionName>c:productsSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selAccountStore</name>
                <value>
                    <elementReference>SelectedStore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>SelectedProductsIDs</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedProductsIDs</assignToReference>
                <name>preSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Products_Screen_0</name>
        <label>Seleccion de precios</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HeaderScreen4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Selección de Precios&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step4</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step1,Step2,Step3,Step4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PriceSelector</name>
            <dataTypeMappings>
                <typeName>OBJECT</typeName>
                <typeValue>Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:pricesSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CarrierId</name>
                <value>
                    <elementReference>CarrierLookupCustom.selectedRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>closeDate</name>
                <value>
                    <elementReference>ExpirationDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cuentaPrincipal</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newOrder</name>
                <value>
                    <elementReference>OrderToCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Paymethod</name>
                <value>
                    <elementReference>PaymentMethodPicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TipoPedido</name>
                <value>
                    <elementReference>Tipo_de_Pedido</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selProducts</name>
                <value>
                    <elementReference>SelectedProductsIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selAccountStore</name>
                <value>
                    <elementReference>SelectedStore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderStartDate</name>
                <value>
                    <elementReference>OrderDate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proforma_Information</name>
        <label>Proforma Information</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Shipping</targetReference>
        </connector>
        <fields>
            <name>HeaderScreen1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Información de la Proforma&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Path1</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step1,Step2,Step3,Step4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step1</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Proforma_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Proforma_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <dataTypeMappings>
                        <typeName>OBJECT</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:searchComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>createRecord</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFields</name>
                        <value>
                            <elementReference>LookupAccDisplayFields</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <elementReference>LookupAccIcon</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelName</name>
                        <value>
                            <elementReference>LookupAccLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>LookupAccPlaceholder</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isOnFlow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentAPIName</name>
                        <value>
                            <elementReference>LookupAccParent</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <elementReference>LookupAccListFields</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objName</name>
                        <value>
                            <elementReference>LookupAccObject</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>where</name>
                        <value>
                            <elementReference>LookupAccWhere</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>valueId</name>
                        <value>
                            <elementReference>SelectedClient.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>valueName</name>
                        <value>
                            <elementReference>SelectedClient.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SelectedStore</name>
                    <choiceReferences>StorePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedClient.DefaultStore__c</elementReference>
                    </defaultValue>
                    <fieldText>Almacén</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PaymentMethodPicklist</name>
                    <choiceReferences>PREPAGO</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>PREPAGO</defaultSelectedChoiceReference>
                    <fieldText>Forma de pago</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Proforma_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderDate</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Today</elementReference>
                    </defaultValue>
                    <fieldText>Fecha de Pedido</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ExpirationDate</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>TomorrowDate</elementReference>
                    </defaultValue>
                    <fieldText>Fecha de Caducidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La fecha tiene que ser posterior a la de orden.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!OrderDate} &lt; {!ExpirationDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Tipo_de_Pedido</name>
                    <choiceReferences>Operador</choiceReferences>
                    <choiceReferences>Retail</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de Pedido</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sales15</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Venta 15º</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Can_Create</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookupAccDisplayFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name, ClientCodeA3__c, Phone</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>standard:account</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dirección de envío</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccListFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookupAccObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ParentId</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccPlaceholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Search...</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccWhere</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RecordType.DeveloperName = &apos;Cuenta_Direccion&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarDisplayFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name, CarrierCode__c, Phone__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>custom:custom98</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Transportista</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarListFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookupCarObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Carrier__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarWhere</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaCarrierWhere</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>SelectedCarrier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Carrier__c</objectType>
    </variables>
    <variables>
        <name>SelectedClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedProductsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
