force-app/main/default/flows/DeleteCurrentOrder_ScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DeleteOrderA3</name>
        <label>DeleteOrderA3</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>UpdateOrderScreenFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ResponseOK</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>data</name>
            <value>
                <elementReference>Data</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateOrderScreenFlowController</nameSegment>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Existe_orden_de_carga</name>
        <label>¿Existe orden de carga?</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pedido.FreightOder__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pedido.FreightOder__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOrderSalesforce</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponseOK</name>
        <label>ResponseOK</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>201</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCurrentOrder</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <description>Borra el pedido actual (integración) al darle al botón custom Eliminar Pedido</description>
    <environments>Default</environments>
    <formulas>
        <name>Data</name>
        <dataType>String</dataType>
        <expression>&apos;DEV_mod;&apos;+{!recordId}</expression>
    </formulas>
    <interviewLabel>DeleteCurrentOrder_ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteCurrentOrder_ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteCurrentOrder</name>
        <label>DeleteCurrentOrder</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>RecordDeleteSuccesfullyScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Eliminar_pedido_en_Salesforce</name>
        <label>Eliminar pedido en Salesforce</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>RecordDeleteSuccesfullySalesforceScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Pedido</name>
        <label>Get Pedido</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_orden_de_carga</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Delete</name>
        <label>DeleteOrder</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>DeleteOrderA3</targetReference>
        </connector>
        <fields>
            <name>DeleteText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;¿Está seguro de que quiere borrar el Pedido?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Eliminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeleteOrderSalesforce</name>
        <label>DeleteOrderSalesforce</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Eliminar_pedido_en_Salesforce</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DeleteText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;¿Desea eliminar el pedido &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Pedido.Name}&lt;/span&gt;?&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;El pedido se eliminará solamente en Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Eliminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(250, 2, 2);&quot;&gt;Error inesperado, compruebe si el registro está en A3, sino tiene que crearlo antes de poder borrarlo&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(250, 2, 2);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;img src=&quot;https://hafesa--dev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683O000002DRqW?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;error-no-es-fracaso (1).jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordDeleteSuccesfullySalesforceScreen</name>
        <label>RecordDeleteSuccesfullySalesforceScreen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MessageSucc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(38, 221, 14);&quot;&gt;El registro se borró de manera correcta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_refreshPageLwc</name>
            <extensionName>c:refreshPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordDeleteSuccesfullyScreen</name>
        <label>RecordDeleteSuccesfullyScreen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageSucc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(38, 221, 14);&quot;&gt;El registro se borró de manera correcta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>refreshPageLwc</name>
            <extensionName>c:refreshPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pedido</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
