force-app/main/default/flows/Invoice_Rectification_Functional_Final.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>rf2</name>
        <label>rf2</label>
        <locationX>452</locationX>
        <locationY>182</locationY>
        <actionName>InvoiceRectificationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvoiceRectificationInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <label>Invoice Rectification Functional Final</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>452</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 128, 0);&quot;&gt;✓ Rectificación completada exitosamente&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InfoText</name>
            <fieldText>&lt;p&gt;Se han creado los siguientes registros:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Pedido corrector (valores negativos)&lt;/li&gt;&lt;li&gt;Factura correctora (valores negativos)&lt;/li&gt;&lt;li&gt;Pedido rectificado (listo para editar)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Se ha enviado una notificación por email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>326</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>rf2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
