metadata/extracted2/unpackaged/flows/UpdateOrder_ScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Fields_To_Search</name>
        <label>Add Fields To Search</label>
        <locationX>875</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>LookupAccListFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LookupCarListFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CarrierSelector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentContador</name>
        <label>AssigmentContador</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>CountOrderItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Order_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentProductsNoExist</name>
        <label>AssigmentProductsNoExist</label>
        <locationX>1634</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>ProductsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForEachProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentToCreationOrderLineItem</name>
        <label>AssigmentToCreationOrderLineItem</label>
        <locationX>1502</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>OrderLineItemToCreate.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToCreate.ProductDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdProductoSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToCreate.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemToCreate.Pedido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOrderLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Assigment_List_To_Send</name>
        <label>Copia 1 de Assigment List To Send</label>
        <locationX>204</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>ListOrdeItemsToSend</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_2_de_Lineas_de_Pedidos_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountProductList</name>
        <label>CountProductList</label>
        <locationX>1370</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>CounterProductList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ProductsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductsListIsEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CURRENT_PRODUCTS_ASSIGMENT</name>
        <label>CURRENT_PRODUCTS_ASSIGMENT</label>
        <locationX>1458</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>SET_CURRENT_PRODUCTS_IDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SET_ORDER_ITEMS_PRODUCTS_IDS.ProductDescription__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SET_ORDER_ITEMS_PRODUCTS_IDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isSelectedStore</name>
        <label>selectedStore</label>
        <locationX>1320</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Order.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedStore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ListToUpdateAssigment</name>
        <label>ListToUpdateAssigment</label>
        <locationX>644</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>ListOrderItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MakeUpdateList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrderAssigment</name>
        <label>OrderAssigment</label>
        <locationX>380</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Order.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedStore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Order.ExpirationDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Order.Sale15__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Order.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCarrier.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalModifiedRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListOrdeItemsToSend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListToUpdateIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetProductList</name>
        <label>ResetProductList</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ProductsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyListProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SET_CURRENT_PRODUCTS_IDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyTextCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_PRODUCTS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleRecordAssigment</name>
        <label>SingleRecordAssigment</label>
        <locationX>644</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>SingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeUpdateList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecord.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeUpdateList.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecord.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MakeUpdateList.UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListToUpdateAssigment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add</name>
        <choiceText>Añadir línea de pedidos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Borrar líneas de pedidos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>FirstOption</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modified</name>
        <choiceText>Modificar líneas de pedidos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modified</stringValue>
        </value>
    </choices>
    <choices>
        <name>SecondOption</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SelectedOption</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SelectedOption2</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>StorePicklist2</name>
        <choiceText>StorePicklist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StorePicklist2</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CONDITION2</name>
        <label>CONDITION2</label>
        <locationX>1546</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>AssigmentProductsNoExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SET_CURRENT_PRODUCTS_IDS</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ForEachProduct.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForEachProduct</targetReference>
            </connector>
            <label>contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Store</name>
        <label>Has Store</label>
        <locationX>1320</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>NoStore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Fields_To_Search</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>listOrderItemToUpdateIsNull</name>
        <label>listOrderItemToUpdateIsNull</label>
        <locationX>182</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>UpdateOrderLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOrderItemsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageScreen</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ListToUpdateIsNull</name>
        <label>ListToUpdateIsNull</label>
        <locationX>380</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Lineas_de_Pedidos_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalModifiedRecords</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Assigment_List_To_Send</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductsListIsEmpty</name>
        <label>ProductsListIsEmpty</label>
        <locationX>1370</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>ProductSelectorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterProductList</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductListIsEmpty</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusCondition</name>
        <label>StatusCondition</label>
        <locationX>380</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fail</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>StatusCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StatusCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StatusCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOrder</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateOrCreate</name>
        <label>UpdateOrCreate</label>
        <locationX>875</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>ResetProductList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Modified</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderItemsScreen</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Delete1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Delete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentContador</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <description>Actualiza pedido si no se envía a Almacén</description>
    <dynamicChoiceSets>
        <name>lineItemsRelated</name>
        <collectionReference>Get_Order_Items</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>OrderItem__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionsOrderStore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Store__c</picklistField>
        <picklistObject>Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectionProductList</name>
        <collectionReference>ProductsList</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Store__c</picklistField>
        <picklistObject>Order__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContadorLess1</name>
        <dataType>Number</dataType>
        <expression>{!CountOrderItems} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaCarrierWhere</name>
        <dataType>String</dataType>
        <expression>IF(
	BEGINS({!SelectedStore}, &apos;CLH &apos;),
	&quot;CLHCode__c != null&quot;,
	CASE({!SelectedStore},
        &quot;DBA BILBAO PORT SL&quot;,
        &quot;BilbaoCode__c != null&quot;,
        &quot;DBA MOTRIL&quot;,
        &quot;MotrilCode__c != null&quot;,
        &quot;DBA OCAÑA&quot;,
        &quot;OcanaCode__c != null&quot;,
        &quot;CarrierCode__c == &apos;Empty&apos;&quot;
    )
)
+ &quot; AND Business__c = &apos;&quot;+TEXT({!SelectedClient.Business__c})+&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>Sales15String</name>
        <dataType>String</dataType>
        <expression>IF({!Sales15}, &apos;Si&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>SelectedCarrierIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedCarrier.Id}), {!SelectedClient.DefaultCarrier__r.Id}, {!SelectedCarrier.Id})</expression>
    </formulas>
    <formulas>
        <name>SelectedCarrierNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!SelectedCarrier.Id}), {!SelectedClient.DefaultCarrier__r.Name}, {!SelectedCarrier.Name})</expression>
    </formulas>
    <interviewLabel>UpdateOrder_ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOrder_ScreenFlow</label>
    <loops>
        <name>ForEachProduct</name>
        <label>ForEachProduct</label>
        <locationX>1370</locationX>
        <locationY>1934</locationY>
        <collectionReference>GET_PRODUCTS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CONDITION2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountProductList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MakeUpdateList</name>
        <label>MakeUpdateList</label>
        <locationX>556</locationX>
        <locationY>1838</locationY>
        <collectionReference>ListOrdeItemsToSend</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SingleRecordAssigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PauseScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SET_ORDER_ITEMS_PRODUCTS_IDS</name>
        <label>SET_ORDER_ITEMS_PRODUCTS_IDS</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <collectionReference>Get_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CURRENT_PRODUCTS_ASSIGMENT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ForEachProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOrderLineItem</name>
        <label>CreateOrderLineItem</label>
        <locationX>1502</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Copia_2_de_MessageScreen</targetReference>
        </connector>
        <inputReference>OrderLineItemToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteOrderItems</name>
        <label>DeleteOrderItems</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>DeleteMessageScreen</targetReference>
        </connector>
        <inputReference>ListDeleteOrderItems</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>1320</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SelectedClient</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>DefaultStore__c</queriedFields>
        <queriedFields>DefaultCarrier__c</queriedFields>
        <queriedFields>Business__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Order</name>
        <label>Get_Current_Order</label>
        <locationX>1320</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get_Order_Items</label>
        <locationX>875</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOrCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pedido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PRODUCTS</name>
        <label>GET_PRODUCTS</label>
        <locationX>1370</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SET_ORDER_ITEMS_PRODUCTS_IDS</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOrder</name>
        <label>UpdateOrder</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>listOrderItemToUpdateIsNull</targetReference>
        </connector>
        <inputReference>Get_Current_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderLineItems</name>
        <label>UpdateOrderLineItems</label>
        <locationX>314</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Copia_1_de_MessageScreen</targetReference>
        </connector>
        <inputReference>ListOrderItemsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CarrierSelector</name>
        <label>CarrierSelector</label>
        <locationX>875</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConditionScreen</targetReference>
        </connector>
        <fields>
            <name>Path2</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CarrierTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Información del transportista&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CarrierLookupCustom</name>
            <dataTypeMappings>
                <typeName>OBJECT</typeName>
                <typeValue>Carrier__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:selectCarrierAndFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFields</name>
                <value>
                    <elementReference>LookupCarDisplayFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>LookupCarIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelName</name>
                <value>
                    <elementReference>LookupCarLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>LookupAccPlaceholder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <elementReference>LookupCarListFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objName</name>
                <value>
                    <elementReference>LookupCarObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>where</name>
                <value>
                    <elementReference>LookupCarWhere</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueId</name>
                <value>
                    <elementReference>SelectedCarrierIdFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueName</name>
                <value>
                    <elementReference>SelectedCarrierNameFormula</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCarrier</assignToReference>
                <name>selectedRecord</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConditionScreen</name>
        <label>ConditionScreen</label>
        <locationX>875</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
        <fields>
            <name>Path3</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 3</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectionOrderLineAction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Añadir , borrar o modificar línea de pedido&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection1</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Modified</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Modified</defaultSelectedChoiceReference>
            <fieldText>Elija una opción</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;&lt;strong&gt;Recuerde que si va a modificar o borrar líneas, tiene que seguir con el proceso completo para que se actualice en A3&lt;/strong&gt;&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copia_1_de_Lineas_de_Pedidos_Screen</name>
        <label>Copia 1 de Lineas de Pedidos Screen</label>
        <locationX>556</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MakeUpdateList</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_Path4</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copia_1_de_UpdateOrderItemScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Información actualización&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(103, 107, 111);&quot;&gt;Recuerde que los pedidos añadidos o eliminados no se subirán hasta finalizar este proceso&lt;/em&gt;&lt;em style=&quot;font-size: 12px; color: rgb(103, 107, 111);&quot;&gt;﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrderDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Pedido&lt;/strong&gt;: {!Get_Current_Order.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de caducidad&lt;/strong&gt;: {!ExpirationDateTime}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Venta a 15º&lt;/strong&gt; : {!Sales15String}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Almacén&lt;/strong&gt;: {!SelectedStore}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Transportista&lt;/strong&gt;: {!SelectedCarrier.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DetailTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ListOrdeItemsToSend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2963&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nº línea de pedido&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitPrice__c&quot;,&quot;guid&quot;:&quot;column-ea26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Precio Unitario&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Precio €/l&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-6bf6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Cantidad(l)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copia_1_de_MessageScreen</name>
        <label>Copia 1 de MessageScreen</label>
        <locationX>314</locationX>
        <locationY>2990</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copia_1_de_UpdateMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(17, 205, 101);&quot;&gt;Pedido actualizado de manera correcta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copia_2_de_Lineas_de_Pedidos_Screen</name>
        <label>Copia 2 de Lineas de Pedidos Screen</label>
        <locationX>204</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PauseScreen</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_Copia_1_de_Path4</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copia_1_de_Copia_1_de_UpdateOrderItemScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Información actualización&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(103, 107, 111);&quot;&gt;Recuerde que los pedidos añadidos o eliminados no se subirán hasta finalizar este proceso&lt;/em&gt;&lt;em style=&quot;font-size: 12px; color: rgb(103, 107, 111);&quot;&gt;﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copia_1_de_OrderDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Pedido&lt;/strong&gt;: {!Get_Current_Order.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fecha de caducidad&lt;/strong&gt;: {!ExpirationDateTime}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Venta a 15º&lt;/strong&gt; : {!Sales15String}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Almacén&lt;/strong&gt;: {!SelectedStore}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Transportista&lt;/strong&gt;: {!SelectedCarrier.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copia_1_de_DetailTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ListOrdeItemsToSend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2963&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nº línea de pedido&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitPrice__c&quot;,&quot;guid&quot;:&quot;column-ea26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Precio Unitario&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Precio €/l&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-6bf6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Cantidad(l)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copia_2_de_MessageScreen</name>
        <label>Copia 2 de MessageScreen</label>
        <locationX>1502</locationX>
        <locationY>3206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ConditionScreen</targetReference>
        </connector>
        <fields>
            <name>Copia_2_de_UpdateMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(17, 205, 101);&quot;&gt;Línea de pedido añadida correctamente&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateOrderItem</name>
        <label>CreateOrderItem</label>
        <locationX>1502</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssigmentToCreationOrderLineItem</targetReference>
        </connector>
        <fields>
            <name>Pathv5</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 5</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4,Step 5</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CreateOrderLineItemTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Creación de la Línea de pedido&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateOrderItem_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateOrderItem_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Cantidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Price</name>
                    <dataType>Number</dataType>
                    <fieldText>Precio €/l</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateOrderItem_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectProductDescription</name>
                    <fieldText>&lt;p&gt;Producto seleccionado:&lt;/p&gt;&lt;p&gt;{!IdProductoSelected.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeleteMessageScreen</name>
        <label>DeleteMessageScreen</label>
        <locationX>842</locationX>
        <locationY>1718</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ConditionScreen</targetReference>
        </connector>
        <fields>
            <name>DeleteMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(111, 108, 108);&quot;&gt;Se han borrado los registros de manera correcta, para enviarlos a A3 continúe con este proceso&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeleteScreen</name>
        <label>DeleteScreen</label>
        <locationX>842</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeleteOrderItems</targetReference>
        </connector>
        <fields>
            <name>Step4v3</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DeleteOrderItemTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleccione registros para borrar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Order_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-f6bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Número de registro&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1625&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nº línea de pedido&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-8b01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Cantidad(l)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice__c&quot;,&quot;guid&quot;:&quot;column-5a2c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Precio €/l&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>ContadorLess1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ListDeleteOrderItems</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Borrar Líneas</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>OrderItemsScreen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error , inténtelo de nuevo o contacte con el administrador:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Estado&lt;/strong&gt;: {!StatusCode}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://hafesa--dev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683O000002DNHh?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;error-no-es-fracaso (1).jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Volver atrás</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MessageScreen</name>
        <label>MessageScreen</label>
        <locationX>50</locationX>
        <locationY>2870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdateMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(17, 205, 101);&quot;&gt;Pedido actualizado de manera correcta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoStore</name>
        <label>NoStore</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Screen</targetReference>
        </connector>
        <fields>
            <name>NoStoreInformation</name>
            <fieldText>&lt;p&gt;Seleccione un almacén para continuar&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Añadir Almacén</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderItemsScreen</name>
        <label>Lineas de Pedidos Screen</label>
        <locationX>380</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OrderAssigment</targetReference>
        </connector>
        <fields>
            <name>Path4</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UpdateOrderItemScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Modificación de Línea Pedido&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(103, 107, 111); font-size: 14px;&quot;&gt;Recuerde que solo podrá modificar pedidos antes de ser enviados a planta&lt;/em&gt;&lt;em style=&quot;color: rgb(103, 107, 111); font-size: 12px;&quot;&gt;﻿&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lwcOrderItemTable</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>OrderItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwcOrderItemTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>Get_Order_Items</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ListOrdeItemsToSend</assignToReference>
                <name>listWithRecordUpdate</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PauseScreen</name>
        <label>PauseScreen</label>
        <locationX>380</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StatusCondition</targetReference>
        </connector>
        <fields>
            <name>PauseLWC</name>
            <dataTypeMappings>
                <typeName>LS</typeName>
                <typeValue>OrderItem__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>LS2</typeName>
                <typeValue>Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwcPauseScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>getRecordList</name>
                <value>
                    <elementReference>ListOrdeItemsToSend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentRecord</name>
                <value>
                    <elementReference>Get_Current_Order</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StatusCode</assignToReference>
                <name>returnStatusCode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductListIsEmpty</name>
        <label>ProductListIsEmpty</label>
        <locationX>1238</locationX>
        <locationY>2726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ConditionScreen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;No se pueden crear más líneas de pedido para este Pedido&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://hafesa--dev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683O000002DNHN?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;error-no-es-fracaso (1).jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductSelectorScreen</name>
        <label>ProductSelectorScreen</label>
        <locationX>1502</locationX>
        <locationY>2726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateOrderItem</targetReference>
        </connector>
        <fields>
            <name>Pathv4</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4,Step 5</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProductListTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ProductsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-24e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Id. de producto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c13b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre del producto&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-60df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Código de producto&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IdProductoSelected</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Screen</name>
        <label>Update Screen</label>
        <locationX>1320</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isSelectedStore</targetReference>
        </connector>
        <fields>
            <name>Path1</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3,Step 4,Step 5</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Update_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExpirationDateTime</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Order.ExpirationDateTime__c</elementReference>
                    </defaultValue>
                    <fieldText>Fecha de caducidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sales15</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Order.Sale15__c</elementReference>
                    </defaultValue>
                    <fieldText>Venta a 15º</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedStore</name>
                    <choiceReferences>StorePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedClient.DefaultStore__c</elementReference>
                    </defaultValue>
                    <fieldText>Almacén</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1194</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ALL_PRODUCTS_IDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CounterProductList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOrderItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_IF_IS_NO_SET</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>currentItem_RecopilationFilterOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>CurrentOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>DuplicateOrderItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyListProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>EmptyTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdProductoSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>LinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>LIST_IDS_ACTUAL_VALUES</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LIST_PRODUCTS_IDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListDeleteOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>ListOrdeItemsToSend</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>ListOrderItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>LookupAccDisplayFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name, ClientCodeA3__c, Phone</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>standard:account</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dirección de envío</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccListFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookupAccObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ParentId</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccPlaceholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Search...</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupAccWhere</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RecordType.DeveloperName = &apos;Cuenta_Direccion&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarDisplayFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name, CarrierCode__c, Phone__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>custom:custom98</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Transportista</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarListFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookupCarObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Carrier__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookupCarWhere</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FormulaCarrierWhere</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderItemsAssigment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>OrderLineItemToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>OrderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>ProducstIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedCarrier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Carrier__c</objectType>
    </variables>
    <variables>
        <name>SelectedClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedProductsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SET_CURRENT_PRODUCTS_IDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem__c</objectType>
    </variables>
    <variables>
        <name>StatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalModifiedRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TransportistaLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Transportista</stringValue>
        </value>
    </variables>
</Flow>
